.App {
  width: 80%;
  text-align: center;
  margin: auto auto;
  caret-color: transparent;
}

.option-item {
  text-align: center;
  list-style: none;
  border: 1px solid black;
  width: auto;
  margin-top: 8px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 16px;
  padding: 5px;
  cursor: pointer;
}

.option-item:hover {
  border: 2px solid black;
}

h1 {
  align-content: center;
  text-align: center;
}

.question-card .footer .score-component {
  text-align: center;
}

.next-button {
  margin-top: 16px;
}

.footer {
  margin-top: 16px;
}

.correct {
  background-color: green;
}

.question-text {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
}

.heading-text {
  font-size: 24px;
  background-color: silver;
  border-radius: 16px;
  margin-top: 20px;
}

.footer-text {
  font-size: 12px;
  color: gray;
}